@model FasceMVC.Models.ViewPdf
@{
    Layout = null;
}

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap.css")
@Scripts.Render("~/Scripts/pace.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Styles.Render("~/Content/css/inicio.css")
@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/sweetalert.min.js")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPdf</title>
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <embed width="100%" height="700" src="data:application/pdf;base64,@Model.PdfBase64" />
            </div>
        </div>
    </div>
    <div id="loading" class="updateProgress" style="display:none;">
        <img src="~/Content/Images/procesando.gif" />
    </div>
</body>
</html>
<style>
    .updateProgress {
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.5;
        filter: alpha(opacity=70);
        text-align: center;
    }
</style>

<script>

    @Html.Raw(ViewBag.JsFuncion)


    function mensaje(mensaje, icon) {
        try {
            swal({
                title: mensaje,
                icon: icon
            });
        } catch (e) {
            console.log(e);
        }
    }

    function eliminarAnexo(id) {
        try {
            $.ajax({
                type: "POST",
                url: "/EmisorInicio/EliminarAnexo",
                data: { id },
                success: (data) => {
                    $("#tableListadoAnexos tbody").empty();
                    $("#tableListadoAnexos tbody").append(data);

                }
            });
        } catch (e) {
            console.error(e);
        }
    }
    function eliminarAnexoAdjunto(id) {
        try {
            $.ajax({
                type: "POST",
                url: "/EmisorInicio/EliminarAnexoAdjunto",
                data: { id },
                success: (data) => {
                    $("#archivosAdjuntos tbody").empty();
                    $("#archivosAdjuntos tbody").append(data);
                    $("#ImageUpload").val("");
                }
            });
        } catch (e) {
            console.error(e);
        }
    }

    function onSuccess(data) {
        try {
            $("#ImageUpload").val("");
            $("#archivosAdjuntos tbody").empty();
            $("#archivosAdjuntos tbody").append(data);
        } catch (e) {
            console.error(e);
        }
    }

    function validarFiles(files) {
        try {

            if (files.length > 0) {
                $("#btnAgregar").attr('disabled', false);
            }
            else {
                $("#btnAgregar").attr('disabled', true);
            }
            console.log(files.length);
        } catch (e) {
            console.error(e);
        }
    }
</script>
<br /><br />
